.instructions {
    font-size: 13pt;
    font-weight: bold;
}

#instructionsBtn{
    font-size: 14pt;
    font-weight: bold;
    width: 100%;
}

#instructionsCard>.card-header, #hideInstructionsBtnDiv{
    text-align: center;
}